.expo
.vscode
node_modules
npm-debug.*
package-lock.json

# Web 
web-build

# Electron
dist

# macOS
.DS_Store

# Metro
.metro-health-check*

# Env
.env
.env.*
!.env.example

# Misc
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

